*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image: url(bg.jpg);
    background-size: 100%;
    color: white;
}
nav{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 30px;
}
nav h1{
    font-size: 50px;
}
nav span{
    color: rgb(241, 16, 16);
}
ul button{
    width: 100px;
    height: 38px;
    background-color: rgb(247, 9, 9);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    margin-left: 30px;
}
ul{
    display: flex;
    list-style: none;
}
ul li a{
    margin-inline:30px;
    font-size:25px;
}
ul li a:hover{
    border-bottom: 30px rgb(14, 14, 226);
    border-radius: 3px;
    margin-top: 2px;
    cursor: pointer;
    font-size: 27px;
}
.text{
    margin-left:7%;
    margin-top: 400px;
}
.text h1{
    font-size: 100px;
}
.text p{
    font-size: 20px;
}
.text button{
    width: 170px;
    height: 44px;
    background-color: rgb(231, 11, 11);
    color: white;
    border: none;
    margin-top: 50px;
    font-size: 20px;
}
.text button:hover{
    border:3px solid;
    background-color: rgb(243, 11, 11);
    cursor: pointer;